<!DOCTYPE html>
<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        var blogs = [];
        $("#getBlogs").click(function () {
          $.get("http://localhost:4000/blogs/all", function (blogs) {
            blogs.forEach((blog) => {
              $("#blogList").append("<li>" +"Author: " + blog.author + ". Title: " + blog.title +  ". Body:" + "</li>");
              $("#blogList").append( blog.text );
            });
          });
        });
      });
    </script>
  </head>
  <body>
    <h1>Display Blogs</h1>
    <button id="getBlogs">Get Blogs</button>
    <div id="sorts" class="btn-group">
        <button class="sort-btn sort-asc" data-sort-value="title" data-sort-direction="asc">Title Asc</button>
        <button class="sort-btn sort-desc" data-sort-value="title" data-sort-direction="desc">Title Desc</button>
      </div>
      
    <ul id="blogList"></ul>
  </body>
</html>